<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>title</key>
		<string>路飞</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>title</key>
		<string>索隆</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3</string>
		<key>title</key>
		<string>山治</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4</string>
		<key>title</key>
		<string>娜美</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>title</key>
		<string>乌索普</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6</string>
		<key>title</key>
		<string>罗宾</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>title</key>
		<string>弗兰奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8</string>
		<key>title</key>
		<string>乔巴</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>title</key>
		<string>布鲁克</string>
	</dict>
</array>
</plist>
